@import "tailwindcss";

@theme {
  --color-primary-50: #eff9ff;
  --color-primary-500: #00a4f4;
  --color-primary-600: #0084d4;

  --color-neut-50: #f6f6f6;
  --color-neut-100: #e7e7e7;
  --color-neut-200: #d1d1d1;
  --color-neut-300: #b0b0b0;
  --color-neut-400: #888888;
  --color-neut-500: #6d6d6d;
  --color-neut-600: #5d5d5d;
  --color-neut-700: #4f4f4f;
  --color-neut-800: #454545;
  --color-neut-900: #3d3d3d;
  --color-neut-950: #000000;
}
